@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colorWhite: #ffffff;
    --color-grey-1: #212529;
    --color-grey-2: #495057;
    --color-grey-3: #dee2e6;

    --color1: #4263EB;

    --fontFamily1: "Inter", sans-serif;

    --fontSize1: 14px;

    --fontSize1rem: 1rem;

    --marginPage: 40px 0;

    --borderRad1: 4px;
}