.navHeader {
    height: 70px;
    position: fixed;
    padding: 15px 20px;
}

.navBar {
    height: 100%;
}

.logOutButton {
    width: 40px;
    font-size: 0.875rem; 
    /* 0.875rem == 14px */
}

.logo {
    width: 35%;
    height: auto;
    max-width: 150px;
}